.header , .main {
  text-align: center;
}

body {
  font-family: "Avenir Next";
}

.header {
  background-color: pink;
  color: white;
  height: 150px;
}


.header p {
  padding-top: 30px;
}


.main {
  color: black;
  height: 550px;
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 40px;
}

.main input {
  height: 50px;
  width: 80%;
  font-size: 20px;
  border: 1px solid #BFBFBF;
  background: #FAFAFA;
  text-align: center;
}

.order {
  padding-bottom: 30px;
}

.footer {
  background-color: skyblue;
  height: 300px;
}

.footer img {
  padding: 10px 50px;
}

.footer ul {
  float: right;
  list-style: none;
  padding: 10px 50px;
}

.footer li {
  padding: 20px;
}
